body{
    background-color: rgb(35, 35, 44);
    margin: 0px;
    padding: 0px;
    color:antiquewhite
}

h1{
    border: 5px solid orange;
    padding: 10px;
    background: blue;
    color: white;

}

header{
    align-self: center;
    font-size:x-large;
}

nav ul{
    margin-left: 300px;
    display:inline;
}

nav li {
    display: inline-block;
    color: blue;
    margin-left: 10px;
}

nav li a{
    color: orange;
    text-decoration: none;
}

.lower-section {
    display:inline-block
}

.lower-section p{
    width: 150px;
}

.lower-section>* {
    display:inline-block;
    
}

.lower-section li {
    margin: 0px;
    padding: 0px;
    display:inline
}

.lower-section img {
    display: inline-block;
}



#person-name{
    font-size:large;
    color: red;
    float: right;
}